* {
    box-sizing: border-box;
}

body {
    padding: 0 1em 0 1em;
}

label, legend {
    text-transform: capitalize;
}

.explainer {
    font-family: Georgia, Garamond, serif;
    font-style: normal;
    font-size: 1.275em;
}

.heading {
    color: #FEFEFE;
    background-color: #336699;
    text-transform: capitalize;
    border-radius: 5px 5px 0 0;
    padding-left: 0.5em;
    font-weight: bold;
    line-height: 1.5em;
}

fieldset {
    border-radius: 5px;
}

.btn {
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    padding: 0.45em 0.3em 0.45em 0.3em;
}

.btn-main {
    color: #FEFEFE;
    border-color: #357ebd;
    background-color: #336699;
    font-weight: bold;
}

.btn-danger {
    color: #FEFEFE;
    border-color: #FF3434;
    background-color: #FF4545;
    font-weight: bold;
}

.alert {
    display: block;
    border-style: solid;
    border-radius: 3px;
}

.alert-error {
    color: #A35256;
    background-color: #F8D7DA;
    border-color: #E7C6C9;
}

.alert-success {
    colour: #448944;
    font-weight: bold;
    background-color: #AAEEAA;
}

.alert-warning {
    background-color: #F9FAB6;
    border-color: #E8E9C5;
}

table {
    margin-left: 1em;
    border-collapse: collapse;
    border: 1px solid;
    border-color: #336699;
}

table thead {
    color: #FEFEFE;
    background-color: #336699;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color:  #336699;
}

table thead tr th {
    text-transform: capitalize;
}

table th,td {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color:  #336699;
    padding: 0 0.3em 0.3em 0.3em;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    opacity: 90%;
    left: 1em;
    top: 1em;
    width: 500px;
    height: 250px;
    text-align: center;
    z-index: 9999;
    background: #F4F4F4;

    border: 2px solid;
    border-radius: 1em;
}

form {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #336699;
    background-color: #D1D1D1;
}

form fieldset:nth-child(odd) {
    background-color: #F1F1F1;
}

@media(min-width: 1250px) {
    form {
	width: 65ch;
    }

    .explainer {
	width: 65ch;
    }
}

fieldset {
    border-style: solid;
    border-color: #F1F1F1;
    border-width: 1px 1px 0 1px;
    border-bottom-style: none;
    display: grid;
    grid-template-columns: 2fr 8fr;
    column-gap: 5px;
}

.form-col-1 {
    grid-column: 1 / 2;
}

.form-col-2, .form-input-help {
    grid-column: 2 / 3;
}

.form-input-help p {
    margin-top: 0;
    margin-bottom: 0.6em;
}

input[disabled="true"],input[disabled="disabled"] {
    border-color: #878787;
    background-color: #A9A9A9;
}

.invalid-input{
    background-color: #F8D7DA;
}

form fieldset legend {
    padding: 0 1.2em 0 1.2em;
    font-weight: bolder;
    line-height: 2em;
    text-align: center;
    text-transform: capitalize;
    background-color: inherit;

    border-style: solid;
    border-radius: 0.5em;
    border-color: #F1F1F1;
    border-width: 0 1px 0 1px;
}

.cli-output {
    background: black;
    color: #00DD00;
    padding: 1em;
    font-weight: bold;
    border-radius: 0.8em;
    width: 90%;
    overflow: scroll;
}
