.two-column-with-separator {
    display: grid;
    grid-template-columns: 9fr 1fr 9fr;
}

.two-col-sep-col1 {
    grid-column: 1 / 2;
}

.two-col-sep-separator {
    grid-column: 2 / 3;
    text-align: center;
    color: #FE3535;
    font-weight: bolder;
}

.two-col-sep-col2 {
    grid-column: 3 / 4;
}

.two-col-sep-col1, .two-col-sep-col2 {
    border-style: solid;
    border-color: #FE3535;
    border-width: 1px;
    border-radius: 2em;
    padding: 2em 3em 2em 3em;
}
