{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Select Genotypes Dataset</h2>

<div class="explainer">
  <p>You successfully created the genotype dataset with the following
    information.
    <dl>
      <dt>ID</dt>
      <dd>{{geno_dataset.id}}</dd>

      <dt>Name</dt>
      <dd>{{geno_dataset.name}}</dd>

      <dt>Full Name</dt>
      <dd>{{geno_dataset.fname}}</dd>

      <dt>Short Name</dt>
      <dd>{{geno_dataset.sname}}</dd>

      <dt>Created On</dt>
      <dd>{{geno_dataset.today}}</dd>

      <dt>Public?</dt>
      <dd>{%if geno_dataset.public == 0%}No{%else%}Yes{%endif%}</dd>
    </dl>
  </p>
</div>

<form id="frm-upload-rqtl2-bundle"
      action="{{url_for('upload.rqtl2.select_dataset_info',
	      species_id=species.SpeciesId,
	      population_id=population.InbredSetId)}}"
      method="POST"
      enctype="multipart/form-data">
  <legend class="heading">select from existing genotype datasets</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file"
	 value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id"
	 value="{{geno_dataset.id}}" />

  <fieldset>
    <input type="submit"
	   value="continue"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
