{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Create ProbeSet Study</h2>

<div class="explainer">
  <p>You successfully created the ProbeSet study with the following
    information.
    <dl>
      <dt>ID</dt>
      <dd>{{study.id}}</dd>

      <dt>Name</dt>
      <dd>{{study.name}}</dd>

      <dt>Full Name</dt>
      <dd>{{study.fname}}</dd>

      <dt>Short Name</dt>
      <dd>{{study.sname}}</dd>

      <dt>Created On</dt>
      <dd>{{study.today}}</dd>
    </dl>
  </p>
</div>

<form id="frm-upload-rqtl2-bundle"
      action="{{url_for('upload.rqtl2.select_dataset_info',
	      species_id=species.SpeciesId,
	      population_id=population.InbredSetId)}}"
      method="POST"
      enctype="multipart/form-data">
  <legend class="heading">Create ProbeSet study</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file" value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id" value="{{geno_dataset.Id}}" />
  <input type="hidden" name="probe-study-id" value="{{study.studyid}}" />

  <fieldset>
    <input type="submit"
	   value="continue"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
