{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Create ProbeSet Dataset</h2>

<div class="explainer">
  <p>You successfully created the ProbeSet dataset with the following
    information.
    <dl>
      <dt>Averaging Method</dt>
      <dd>{{avgmethod.Name}}</dd>

      <dt>ID</dt>
      <dd>{{dataset.datasetid}}</dd>

      <dt>Name</dt>
      <dd>{{dataset.name2}}</dd>

      <dt>Full Name</dt>
      <dd>{{dataset.fname}}</dd>

      <dt>Short Name</dt>
      <dd>{{dataset.sname}}</dd>

      <dt>Created On</dt>
      <dd>{{dataset.today}}</dd>

      <dt>DataScale</dt>
      <dd>{{dataset.datascale}}</dd>
    </dl>
  </p>
</div>

<form id="frm-upload-rqtl2-bundle"
      action="{{url_for('upload.rqtl2.select_dataset_info',
	      species_id=species.SpeciesId,
	      population_id=population.InbredSetId)}}"
      method="POST"
      enctype="multipart/form-data">
  <legend class="heading">Create ProbeSet dataset</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file" value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id" value="{{geno_dataset.Id}}" />
  <input type="hidden" name="probe-study-id" value="{{study.Id}}" />
  <input type="hidden" name="probe-dataset-id" value="{{dataset.datasetid}}" />

  <fieldset>
    <input type="submit"
	   value="continue"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
