{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Data Upload{%endblock%}

{%block contents%}
<h1 class="heading">R/qtl2 data upload</h1>

<h2>R/qtl2 Upload</h2>

<form method="POST" action="{{url_for('upload.rqtl2.select_species')}}"
      id="frm-rqtl2-upload">
  <legend class="heading">upload R/qtl2 bundle</legend>
  {{flash_messages("error-rqtl2")}}
  <fieldset>
    <label for="select:species">Species</label>
    <select id="select:species" name="species_id" required="required">
      <option value="">Select species</option>
      {%for spec in species%}
      <option value="{{spec.SpeciesId}}">{{spec.MenuName}}</option>
      {%endfor%}
    </select>
    <span class="form-input-help">
      Data that you upload to the system should belong to a know species.
      Here you can select the species that you wish to upload data for.
    </span>
  </fieldset>

  <fieldset>
    <input type="submit" value="submit" class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
