{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Job Status{%endblock%}

{%block contents%}
<h1 class="heading">R/qtl2 job status</h1>

<h2>R/qtl2 Upload: No Such Job</h2>

<p class="alert-error">No job with ID {{jobid}} was found.</p>

{%endblock%}
