{%extends "base.html"%}
{%from "cli-output.html" import cli_output%}

{%block title%}Job Status{%endblock%}

{%block contents%}
<h1 class="heading">R/qtl2 job status</h1>

<h2>R/qtl2 Upload: Job Status</h2>

<div class="explainer">
  <p>The processing of the R/qtl2 bundle you uploaded has failed. We have
    provided some information below to help you figure out what the problem
    could be.</p>
  <p>If you find that you cannot figure out what the problem is on your own,
    please contact the team running the system for assistance, providing the
    R/qtl2 bundle you uploaded, and a screenshot of this page.</p>
</div>

<h4>stdout</h4>
{{cli_output(job, "stdout")}}

<h4>stderr</h4>
{{cli_output(job, "stderr")}}

<h4>Log</h4>
<div class="cli-output">
  {%for msg in messages%}
  {{msg}}<br />
  {%endfor%}
</div>

{%endblock%}
