{%extends "base.html"%}
{%from "cli-output.html" import cli_output%}

{%block title%}Job Status{%endblock%}

{%block contents%}
<h1 class="heading">R/qtl2 job status</h1>

<h2>R/qtl2 Upload: Job Status</h2>

<div class="explainer">
  <p>The processing of the R/qtl2 bundle you uploaded has completed
    successfully.</p>
  <p>You should now be able to use GeneNetwork to run analyses on your data.</p>
</div>

<h4>Log</h4>
<div class="cli-output">
  {%for msg in messages%}
  {{msg}}<br />
  {%endfor%}
</div>

{%endblock%}
