{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Job Status{%endblock%}

{%block extrameta%}
<meta http-equiv="refresh" content="3">
{%endblock%}

{%block contents%}
<h1 class="heading">R/qtl2 job status</h1>

<h2>R/qtl2 Upload: Job Status</h2>

<h4>Log</h4>
<div class="cli-output">
  {%for msg in messages%}
  {{msg}}<br />
  {%endfor%}
</div>

{%endblock%}
