{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages, flash_all_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Phenotype(ProbeSet) Study</h2>

<div class="explainer">
  <p>The R/qtl2 bundle you uploaded contains (a) "<strong>pheno</strong>"
    file(s). This data needs to be organised under a study.</p>
  <p>In this page, you can either select from a existing dataset:</p>
</div>

{{flash_all_messages()}}

<form method="POST"
      action="{{url_for('upload.rqtl2.select_probeset_study',
	      species_id=species.SpeciesId, population_id=population.Id)}}"
      id="frm:select-probeset-study">
  <legend class="heading">Select from existing ProbeSet studies</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file"
	 value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id" value="{{geno_dataset.Id}}" />

  <fieldset>
    <label for="select:probe-study">Study</label>
    <select id="select:probe-study"
	    name="probe-study-id"
	    required="required"
	    {%if studies | length == 0%}disabled="disabled"{%endif%}>
      <option value="">Select a study</option>
      {%for study in studies%}
      <option value={{study.Id}}>
	{{study.Name}}
	{%if study.FullName%}
	 -- ({{study.FullName}})
	{%endif%}
      </option>
      {%endfor%}
    </select>
    <span class="form-col-2">Select from existing ProbeSet studies.</span>
  </fieldset>

  <fieldset>
    <input type="submit"
	   value="select study"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>

<p style="color:#FE3535; padding-left:20em; font-weight:bolder;">OR</p>

<div class="explainer">
  <p>Create a new ProbeSet dataset below:</p>
</div>

<form method="POST"
      action="{{url_for('upload.rqtl2.create_probeset_study',
	      species_id=species.SpeciesId, population_id=population.Id)}}"
      id="frm:create-probeset-study">
  <legend class="heading">Create new ProbeSet study</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file"
	 value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id" value="{{geno_dataset.Id}}" />

  <fieldset>
    <label for="select:platform">Platform</label>
    <select id="select:platform"
	    name="platformid"
	    required="required"
	    {%if platforms | length == 0%}disabled="disabled"{%endif%}>
      <option value="">Select a platform</option>
      {%for platform in platforms%}
      <option value="{{platform.GeneChipId}}">
	{{platform.GeneChipName}} ({{platform.Name}})
      </option>
      {%endfor%}
    </select>
    <span class="form-col-2">Select from a list of known genomics platforms.
    </span>
  </fieldset>

  <fieldset>
    <label for="select:tissue">Tissue</label>
    <select id="select:tissue"
	    name="tissueid"
	    required="required"
	    {%if tissues | length == 0%}disabled="disabled"{%endif%}>
      <option value="">Select tissue</option>
      {%for tissue in tissues%}
      <option value="{{tissue.Id}}">
	{{tissue.TissueName}} ({{tissue.Short_Name}})
      </option>
      {%endfor%}
    </select>
    <span class="form-col-2">
      Select the Tissue to which the data is concerned.
    </span>
  </fieldset>

  <fieldset>
    <label for="txt:studyname">Study name</label>
    <input type="text" id="txt:studyname" name="studyname"
	   placeholder="Name of the study. (Required)"
	   required="required"
	   maxlength="100" />
    <span class="form-col-2">Provide a name for the study.</span>
  </fieldset>

  <fieldset>
    <label for="txt:studyfullname">Full Study Name</label>
    <input type="text" id="txt:studyfullname" name="studyfullname"
	   placeholder="Longer name of the study. (Optional)"
	   maxlength="100" />
    <span class="form-col-2">
      Provide a longer, more descriptive name for the study. This is optional
      and you can leave it blank.
    </span>
  </fieldset>

  <fieldset>
    <label for="txt:studyshortname">Short Study Name</label>
    <input type="text" id="txt:studyshortname" name="studyshortname"
	   placeholder="Shorter name of the study. (Optional)"
	   maxlength="100" />
    <span class="form-col-2">
      Provide a shorter name for the study. This is optional and you can leave
      it blank.
    </span>
  </fieldset>

    <fieldset>
    <input type="submit"
	   value="create study"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
