{%extends "base.html"%}
{%from "flash_messages.html" import flash_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Summary</h2>

<div class="explainer">
  <p>This is the information you have provided to accompany the R/qtl2 bundle
    you have uploaded. Please verify the information is correct before
    proceeding.</p>
</div>

<dl>
  <dt>Species</dt>
  <dd>{{species.SpeciesName}} ({{species.FullName}})</dd>

  <dt>Population</dt>
  <dd>{{population.InbredSetName}}</dd>

  <dt>Genotype Dataset</dt>
  <dd>{{geno_dataset.Name}} ({{geno_dataset.FullName}})</dd>

  <dt>ProbeSet Study</dt>
  <dd>{{probe_study.Name}} ({{probe_study.FullName}})</dd>

  <dt>ProbeSet Dataset</dt>
  <dd>{{probe_dataset.Name2}} ({{probe_dataset.FullName}})</dd>
</dl>

<form id="frm:confirm-rqtl2bundle-details"
      action="{{url_for('upload.rqtl2.confirm_bundle_details',
	      species_id=species.SpeciesId,
	      population_id=population.InbredSetId)}}"
      method="POST"
      enctype="multipart/form-data">
  <legend class="heading">Create ProbeSet dataset</legend>

  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file" value="{{rqtl2_bundle_file}}" />
  <input type="hidden" name="geno-dataset-id" value="{{geno_dataset.Id}}" />
  <input type="hidden" name="probe-study-id" value="{{probe_study.Id}}" />
  <input type="hidden" name="probe-dataset-id" value="{{probe_dataset.Id}}" />

  <fieldset>
    <input type="submit"
	   value="continue"
	   class="btn btn-main form-col-2" />
  </fieldset>
</form>
{%endblock%}
