{%extends "base.html"%}
{%from "flash_messages.html" import flash_all_messages%}

{%block title%}Upload R/qtl2 Bundle{%endblock%}

{%block contents%}
<h2 class="heading">Upload R/qtl2 Bundle</h2>

<div class="explainer">
  <p>You have successfully uploaded the zipped bundle of R/qtl2 files.</p>
  <p>The next step is to select the various extra information we need to figure
    out what to do with the data. You will select/create the relevant studies
    and/or datasets to organise the data in the steps that follow.</p>
  <p>Click "Continue" below to proceed.</p>
</div>

<form id="frm-upload-rqtl2-bundle"
      action="{{url_for('upload.rqtl2.select_dataset_info',
	      species_id=species.SpeciesId,
	      population_id=population.InbredSetId)}}"
      method="POST"
      enctype="multipart/form-data">
  {{flash_all_messages()}}
  <input type="hidden" name="species_id" value="{{species.SpeciesId}}" />
  <input type="hidden" name="population_id"
	 value="{{population.InbredSetId}}" />
  <input type="hidden" name="rqtl2_bundle_file"
	 value="{{rqtl2_bundle_file}}" />

  <fieldset>
    <input type="submit" value="continue" class="btn btn-main form-col-2" />
  </fieldset>
</form>

{%endblock%}
