{%extends "base.html"%}
{%from "cli-output.html" import cli_output%}

{%block title%}Samples Upload Failure{%endblock%}

{%block contents%}
<h1 class="heading">{{job.job_name}}</h2>

<p>There was a failure attempting to upload the samples.</p>

<p>Here is some information to help with debugging the issue. Provide this
  information to the developer/maintainer.</p>

<h3>Debugging Information</h3>
<ul>
  <li><strong>job id</strong>: {{job.job_id}}</li>
  <li><strong>status</strong>: {{job.status}}</li>
  <li><strong>job type</strong>: {{job["job-type"]}}</li>
</ul>

<h4>stdout</h4>
{{cli_output(job, "stdout")}}

<h4>stderr</h4>
{{cli_output(job, "stderr")}}

{%endblock%}
