{%extends "base.html"%}
{%from "cli-output.html" import cli_output%}

{%block extrameta%}
<meta http-equiv="refresh" content="5">
{%endblock%}

{%block title%}Job Status{%endblock%}

{%block contents%}
<h1 class="heading">{{job.job_name}}</h2>

<p>
<strong>status</strong>:
<span>{{job["status"]}} ({{job.get("message", "-")}})</span><br />
</p>

<p>saving to database...</p>

{{cli_output(job, "stdout")}}

{%endblock%}
