<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta application-name="GeneNetwork Quality-Control Application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%block extrameta%}{%endblock%}

    <title>QC: {%block title%}{%endblock%}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    {%block css%}{%endblock%}

    <link rel="shortcut icon" type="image/png" sizes="64x64"
	  href="/static/images/CITGLogo.png" />
  </head>

  <body>
    {%block contents%}{%endblock%}

    {%block javascript%}{%endblock%}
  </body>
</html>
