{%extends "base.html"%}

{%block title%}DB Update Error{%endblock%}

{%block contents%}
<h1 class="heading">database update error</h2>

<p class="alert-error">
  <strong>Database Update Error</strong>: {{error_message}}
</p>

{%endblock%}
