{%macro hidden_fields(filename, filetype):%}

<!-- {{kwargs}}: mostly for accessing the kwargs in macro -->

<input type="hidden" name="filename" value="{{filename}}" />
<input type="hidden" name="filetype" value="{{filetype}}" />
{%if kwargs.get("totallines")%}
<input type="hidden" name="totallines" value="{{kwargs['totallines']}}" />
{%endif%}
{%if kwargs.get("species"):%}
<input type="hidden" name="species" value="{{kwargs['species']}}" />
{%endif%}
{%if kwargs.get("genechipid"):%}
<input type="hidden" name="genechipid" value="{{kwargs['genechipid']}}" />
{%endif%}
{%if kwargs.get("inbredsetid"):%}
<input type="hidden" name="inbredsetid" value="{{kwargs['inbredsetid']}}" />
{%endif%}
{%if kwargs.get("tissueid"):%}
<input type="hidden" name="tissueid" value="{{kwargs['tissueid']}}" />
{%endif%}
{%if kwargs.get("studyid"):%}
<input type="hidden" name="studyid" value="{{kwargs['studyid']}}" />
{%endif%}
{%if kwargs.get("datasetid"):%}
<input type="hidden" name="datasetid" value="{{kwargs['datasetid']}}" />
{%endif%}

{%endmacro%}
