{%macro errors_display(errors, no_error_msg, error_message, complete)%}

{%if errors | length == 0 %}
<span {%if complete%}class="alert-success"{%endif%}>{{no_error_msg}}</span>
{%else %}
<p class="alert-error">{{error_message}}</p>

<table class="reports-table">
  <thead>
    <tr>
      <th>line number</th>
      <th>column(s)</th>
      <th>error</th>
      <th>error message</th>
    </tr>
  </thead>

  <tbody>
    {%for error in errors%}
    <tr>
      <td>{{error["line"]}}</td>
      <td>
	{%if isinvalidvalue(error):%}
	{{error.column}}
	{%elif isduplicateheading(error): %}
	{{error.columns}}
	{%else: %}
	-
	{%endif %}
      </td>
      <td>
	{%if isinvalidvalue(error):%}
	Invalid Value
	{%elif isduplicateheading(error): %}
	Duplicate Header
	{%else%}
	Inconsistent Columns
	{%endif %}
      </td>
      <td>{{error["message"]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endif%}

{%endmacro%}
