{%extends "base.html"%}
{%from "dbupdate_hidden_fields.html" import hidden_fields%}

{%block title%}Confirmation{%endblock%}

{%macro display_item(item_name, item_data):%}
<li>
  <strong>{{item_name}}</strong>
  {%if item_data%}
  <ul>
    {%for term,value in item_data.items():%}
    <li><strong>{{term}}:</strong> {{value}}</li>
    {%endfor%}
  </ul>
  {%endif%}
</li>
{%endmacro%}

{%block contents%}
<h2 class="heading">Final Confirmation</h2>

<div  class="two-col-sep-col1">
  <p><strong>Selected Data</strong></p>
  <ul>
    <li><strong>File</strong>
      <ul>
	<li><strong>Filename</strong>: {{filename}}</li>
	<li><strong>File Type</strong>: {{filetype}}</li>
      </ul>
    </li>
    {{display_item("Species", the_species)}}
    {{display_item("Platform", platform)}}
    {{display_item("Study", study)}}
    {{display_item("Dataset", dataset)}}
  </ul>
</div>

<form method="POST" action="{{url_for('dbinsert.insert_data')}}">
  {{hidden_fields(
  filename, filetype, species=species, genechipid=genechipid,
  studyid=studyid,datasetid=datasetid, totallines=totallines)}}
  <fieldset>
    <input type="submit" class="btn btn-main" value="confirm" />
  </fieldset>
</form>
</div>
{%endblock%}
