{%macro flash_all_messages()%}
{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages:%}
<ul>
  {%for category, message in messages:%}
  <li class="{{category}}">{{message}}</li>
  {%endfor%}
</ul>
{%endif%}
{%endwith%}
{%endmacro%}

{%macro flash_messages(filter_class)%}
{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages:%}
<ul>
  {%for category, message in messages:%}
  {%if filter_class in category%}
  <li class="{{category}}">{{message}}</li>
  {%endif%}
  {%endfor%}
</ul>
{%endif%}
{%endwith%}
{%endmacro%}
