{%extends "base.html"%}
{%from "stdout_output.html" import stdout_output%}

{%block title%}Insertion Success{%endblock%}

{%block contents%}
<h1 class="heading">Insertion Success</h1>

<p>Data inserted successfully!</p>

<p>The following queries were run:</p>

{{stdout_output(job)}}

{%endblock%}
