{%extends "base.html"%}

{%block title%}Data Insertion Failure{%endblock%}

{%block contents%}
<h1 class="heading">Insertion Failure</h1>

<p>
  There was an error inserting data into the database
</p>

<p>
  Please notify the developers of this issue when you encounter it,
  providing the information below.
</p>

<h4>Debugging Information</h4>

<ul>
  <li><strong>job id</strong>: {{job["job_id"]}}</li>
</ul>

<h4>STDERR Output</h4>
<div class="cli-output">
  {{job["stderr"]}}
</div>

{%endblock%}
