{%extends "base.html"%}
{%from "errors_display.html" import errors_display%}

{%block extrameta%}
<meta http-equiv="refresh" content="5">
{%endblock%}

{%block title%}Job Status{%endblock%}

{%block contents%}
<h1 class="heading">{{job_name}}</h2>

<label for="job_status">status:</label>
<span>{{job_status}}: {{message}}</span><br />

<label for="job_{{job_id}}">parsing: </label>
<progress id="job_{{job_id}}" value="{{progress/100}}">{{progress}}</progress>
<span>{{"%.2f" | format(progress)}}%</span>

<div>
  <form action="{{url_for('parse.abort')}}" method="POST">
    <input type="hidden" name="job_id" value="{{job_id}}" />
    <input type="submit" value="Abort" class="btn btn-danger" />
  </form>
</div>

<div>
  {{errors_display(errors, "No errors found so far", "We have found the following errors so far", False)}}
</div>

{%endblock%}
