{%extends "base.html"%}

{%block extrameta%}
<meta http-equiv="refresh" content="5;url={{url_for('entry.upload_file')}}">
{%endblock%}

{%block title%}No Such Job{%endblock%}

{%block contents%}
<h1 class="heading">No Such Job: {{job_id}}</h2>

<p>No job, with the id '<em>{{job_id}}</em>' was found!</p>

{%endblock%}
