{%extends "base.html"%}

{%block title%}Worker Failure{%endblock%}

{%block contents%}
<h1 class="heading">Worker Failure</h1>

<p>
  There was an error while parsing your file.
</p>

<p>
  Please notify the developers of this issue when you encounter it,
  providing the information below.
</p>

<h4>Debugging Information</h4>

<ul>
  <li><strong>job id</strong>: {{job["job_id"]}}</li>
  <li><strong>filename</strong>: {{job["filename"]}}</li>
  <li><strong>line number</strong>: {{job["line_number"]}}</li>
  <li><strong>Progress</strong>: {{job["percent"]}} %</li>
</ul>

{%endblock%}
