{%extends "base.html"%}
{%from "errors_display.html" import errors_display%}

{%block title%}Parse Results{%endblock%}

{%block contents%}
<h1 class="heading">{{job_name}}: parse results</h2>

{%if user_aborted%}
<span class="alert-warning">Job aborted by the user</span>
{%endif%}

{{errors_display(errors, "No errors found in the file", "We found the following errors", True)}}

{%if errors | length == 0 and not user_aborted %}
<form method="post" action="{{url_for('dbinsert.select_platform')}}">
  <input type="hidden" name="job_id" value="{{job_id}}" />
  <input type="submit" value="update database" class="btn btn-main" />
</form>
{%endif%}

{%if errors | length > 0 or user_aborted %}
<br />
<a href="{{url_for('entry.upload_file')}}" title="Back to index page."
   class="btn btn-main">
  Go back
</a>
{%endif%}

{%endblock%}
