{%extends "base.html"%}
{%from "dbupdate_hidden_fields.html" import hidden_fields%}

{%block title%}Select Dataset{%endblock%}

{%block css%}
<link rel="stylesheet" href="/static/css/two-column-with-separator.css" />
{%endblock%}

{%block contents%}
<h2 class="heading">{{filename}}: select study</h2>

<div class="two-column-with-separator">
  <form method="POST" action="{{url_for('dbinsert.select_dataset')}}"
	id="select-platform-form" data-genechips="{{genechips_data}}"
	class="two-col-sep-col1">
    <legend>Select from existing study</legend>
    {{hidden_fields(filename, filetype, species=species, genechipid=genechipid,
    totallines=totallines)}}

    <fieldset>
      <label for="study" class="form-col-1">study:</label>
      <select id="study" name="studyid" class="form-col-2">
	{%for study in studies:%}
	<option value="{{study['ProbeFreezeId']}}">{{study["Name"]}}</option>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <input type="submit" value="submit selected study"
	     class="btn btn-main form-col-2"
	     {%if studies | length == 0:%}
	     disabled="disabled"
	     {%endif%} />
    </fieldset>
  </form>

  <p class="two-col-sep-separator">OR</p>

  <form method="POST" action="{{url_for('dbinsert.create_study')}}"
	id="select-platform-form" data-genechips="{{genechips_data}}"
	class="two-col-sep-col2">
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages:%}
    <ul>
      {%for category, message in messages:%}
      <li class="{{category}}">{{message}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
    <legend>Create new study</legend>
    {{hidden_fields(filename, filetype, species=species, genechipid=genechipid,
    totallines=totallines)}}

    <fieldset>
      <label for="studyname" class="form-col-1">name:</label>
      <input type="text" id="studyname" name="studyname" class="form-col-2"
	     required="required"
	     {%if studyname:%}
	     value="{{studyname}}"
	     {%endif%} />
    </fieldset>

    <fieldset>
      <label for="group" class="form-col-1">group:</label>
      <select id="group" name="inbredsetid" class="form-col-2"
	      required="required">
	<option value="">Select group</option>
	{%for family in groups:%}
	<optgroup label="{{family}}">
	  {%for group in groups[family]:%}
	  <option value="{{group['InbredSetId']}}"
		  {%if group["InbredSetId"] == selected_group:%}
		  selected="selected"
		  {%endif%}>
	    {{group["FullName"]}}
	  </option>
	  {%endfor%}
	</optgroup>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <label for="tissue" class="form-col-1">tissue:</label>
      <select id="tissue" name="tissueid" class="form-col-2"
	      required="required">
	<option value="">Select type</option>
	{%for tissue in tissues:%}
	<option value="{{tissue['TissueId']}}"
		{%if tissue["TissueId"] == selected_tissue:%}
		selected="selected"
		{%endif%}>
	  {{tissue["Name"]}}
	</option>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <input type="submit" value="create study"
	     class="btn btn-main form-col-2" />
    </fieldset>
  </form>
</div>

{%endblock%}
