{%extends "base.html"%}
{%from "dbupdate_hidden_fields.html" import hidden_fields%}

{%block title%}Select Dataset{%endblock%}

{%block css%}
<link rel="stylesheet" href="/static/css/two-column-with-separator.css" />
{%endblock%}

{%block contents%}
<h2 class="heading">{{filename}}: select dataset</h2>

<div class="two-column-with-separator">
  <form method="POST" action="{{url_for('dbinsert.final_confirmation')}}"
	id="select-dataset-form" class="two-col-sep-col1">
    <legend>choose existing dataset</legend>
    {{hidden_fields(
    filename, filetype, species=species, genechipid=genechipid,
    studyid=studyid, totallines=totallines)}}

    <fieldset>
      <label for="datasetid" class="form-col-1">dataset:</label>
      <select id="datasetid" name="datasetid" class="form-col-2"
	      {%if datasets | length == 0:%}
	      disabled="disabled"
	      {%endif%}>
	{%for dataset in datasets:%}
	<option value="{{dataset['Id']}}">
	  [{{dataset["Name"]}}] - {{dataset["FullName"]}}
	</option>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <input type="submit" class="btn btn-main form-col-2"
	     value="update database"
	     {%if datasets | length == 0:%}
	     disabled="disabled"
	     {%endif%} />
    </fieldset>
  </form>

  <p class="two-col-sep-separator">OR</p>

  <form method="POST" id="create-dataset-form"
	action="{{url_for('dbinsert.create_dataset')}}"
	class="two-col-sep-col2">
    <legend>create new dataset</legend>
    {{hidden_fields(
    filename, filetype, species=species, genechipid=genechipid,
    studyid=studyid, totallines=totallines)}}

    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages:%}
    <ul>
      {%for category, message in messages:%}
      <li class="{{category}}">{{message}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}

    <fieldset>
      <label for="avgid" class="form-col-1">average:</label>
      <select id="avgid" name="avgid" required="required" class="form-col-2">
	<option value="">Select averaging method</option>
	{%for method in avgmethods:%}
	<option value="{{method['AvgMethodId']}}"
		{%if avgid is defined and method['AvgMethodId'] | int == avgid | int%}
		selected="selected"
		{%endif%}>
	  {{method["Name"]}}
	</option>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <label for="datasetname" class="form-col-1">name:</label>
      <input id="datasetname" name="datasetname" type="text"
	     class="form-col-2"
	     {%if datasetname is defined %}
	     value="{{datasetname}}"
	     {%endif%} />
    </fieldset>

    <fieldset>
      <label for="datasetname2" class="form-col-1">name 2:</label>
      <input id="datasetname2" name="datasetname2" type="text"
	     required="required" class="form-col-2"
	     {%if datasetname2 is defined %}
	     value="{{datasetname2}}"
	     {%endif%} />
    </fieldset>

    <fieldset>
      <label for="datasetfullname" class="form-col-1">full name:</label>
      <input id="datasetfullname" name="datasetfullname" type="text"
	     required="required" class="form-col-2"
	     {%if datasetfullname is defined %}
	     value="{{datasetfullname}}"
	     {%endif%} />
    </fieldset>

    <fieldset>
      <label for="datasetshortname" class="form-col-1">short name:</label>
      <input id="datasetshortname" name="datasetshortname" type="text"
	     required="required" class="form-col-2"
	     {%if datasetshortname is defined %}
	     value="{{datasetshortname}}"
	     {%endif%} />
    </fieldset>

    <fieldset>
      <label for="datasetpublic" class="form-col-1">public:</label>
      <input id="datasetpublic" name="datasetpublic" type="number"
	     required="required" min="0" max="2"
	     {%if datasetpublic is defined %}
	     value="{{datasetpublic | int}}"
	     {%else%}
	     value="0"
	     {%endif%}
	     class="form-col-2" />
    </fieldset>

    <fieldset>
      <label for="datasetconfidentiality">confidentiality:</label>
      <input id="datasetconfidentiality" name="datasetconfidentiality"
	     type="number" required="required" min="0" max="2"
	     {%if datasetconfidentiality is defined %}
	     value="{{datasetconfidentiality | int}}"
	     {%else%}
	     value="0"
	     {%endif%}
	     class="form-col-2" />
    </fieldset>

    <fieldset>
      <label for="datasetdatascale" class="form-col-1">data scale:</label>
      <select id="datasetdatascale" name="datasetdatascale" class="form-col-2">
	<option value="">None</option>
	{%for dscale in datascales:%}
	<option value="{{dscale}}"
		{%if datasetdatascale is defined and dscale == datasetdatascale%}
		selected="selected"
		{%elif dscale == "log2":%}
		selected="selected"
		{%endif%}>
	  {{dscale}}
	</option>
	{%endfor%}
      </select>
    </fieldset>

    <fieldset>
      <input type="submit" value="create new dataset"
	     class="btn btn-main form-col-2" />
    </fieldset>
  </form>

</div>

{%endblock%}

{%block javascript%}
{%endblock%}
