{%extends "base.html"%}

{%block title%}System Error{%endblock%}

{%block css%}
<link rel="stylesheet" href="/static/css/two-column-with-separator.css" />
{%endblock%}

{%block contents%}
<p>
  An error has occured, and your request has been aborted. Please notify the
  administrator to try and get this sorted.
</p>
<p>
  Provide the following information to help the administrator figure out and fix
  the issue:<br />
  <hr /><br />
  {{trace}}
  <hr /><br />
</p>
{%endblock%}
