{%extends "base.html"%}

{%block title%}Worker Failure{%endblock%}

{%block contents%}
<h1 class="heading">Worker Failure</h1>

<p>
  There was a critical failure launching the job to parse your file.
  This is our fault and (probably) has nothing to do with the file you uploaded.
</p>

<p>
  Please notify the developers of this issue when you encounter it,
  providing the link to this page, or the information below.
</p>

<h4>Debugging Information</h4>

<ul>
  <li><strong>job id</strong>: {{job_id}}</li>
</ul>

{%endblock%}
